
/* Diagram styles */
.pinout-diagram{
    font-family:Verdana, Geneva, sans-serif;  
}

/* Label styles */
.pwm .label_box{ fill: rgb(99, 64, 66) }
.leaderline_pwm { stroke:   rgb(99, 64, 66) }
.pwr .label_box{ fill: rgb(161, 26, 129) }
.leaderline_pwr { stroke:   rgb(161, 26, 129) }
.gpio .label_box{ fill: rgb(202, 53, 138) }
.leaderline_gpio { stroke:   rgb(202, 53, 138) }
.analog .label_box{ fill: rgb(255, 68, 55) }
.leaderline_analog { stroke:   rgb(255, 68, 55) }


.label text{
    fill: rgb(255, 255, 255);
    font-family:Verdana, Geneva, san-serif; 
    font-size: 15px; 
    font-weight: bold;
}


/* Legend */
.legend{
    font-size: 15px; 
}

.legend_box{
    fill: rgb(247, 247, 247);
    stroke: rgb(204, 204, 204);
}